@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');


:root{
  --primary-color: #818181;
  --s-color:#ffffff;
  --black-color: #000;
  --d-color:#f0f0f0
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins' , sans-serif;
}
body{
   background-image: radial-gradient( 1px ,#7a7a7a 2px ,#ccc);
  background-size: 20px 20px; 
  margin: 20px 0 20px 0;
}
.main-cont{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: var(--s-color);
  text-decoration: none;
}
.wallp{
    width: 500px;
  height: 600px;
  background: linear-gradient(#5385f1,#0351fb);
    cursor: pointer;
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--d-color);
  box-shadow: -2px 0 10px 2px rgba(0,0,0,0.3);
  border-radius:15px 0 0 15px ;
  text-align: center;
}
.circ{
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 0px 30px #6794f7;
  background-color: var(--d-color);
}
.login-items{
  cursor: pointer;
  position: relative;
  width: 500px;
  height: 600px;
  padding:3.5em  2.5em 3em 2.5em;
  backdrop-filter: blur(6px);
  border-radius: 0 15px 15px 0;
  border: 1px solid var(--primary-color);
  color: var(--second-color);
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}
.login{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 50%;
  width: 120px;
  height: 50px;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
  background-color: var(--primary-color);
}
.login span{
    font-size: 30px;
  color: var(--black-color);
}
.login::before{
  content: "";
  position: absolute;
  top: 0%;
  left: -30px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-top-right-radius: 50%;
  box-shadow: 15px 0 0 0 var(--primary-color);
}
.login::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: transparent;
  top: 0%;
  right: -30px;
  border-top-left-radius:50%;
  box-shadow: -15px 0 0 0 var(--primary-color);
}
.log-detail{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.log-detail .inputs{
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  padding-inline: 28px 50px;
  outline: none;
}
#user{
  margin-bottom: 10px;
}
.telip{
  position: relative;
}
.telip p{
  position: absolute;
  top: 14px;
  left: 4px;
  
}
.telip span{
  position: absolute;
  width: 1px;
  height: 36px;
  top: 6px;
  left: 30px;
  background-color: #000;
}
.icon{
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 20px;
}
.forgot-remember{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.submits{
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  background: #ececec;
  cursor: pointer;
  transition: .3s;
}
.submits{
  background-color: var(--s-color);
}
.submits:hover{
  background-color: #0351fb;
  color: var(--s-color);
}
.no-account{
  text-align: center;
}
.no-account a{
  font-weight: 500;
}
a:hover{
  text-decoration: underline;
}
@media only screen and (max-width: 564px) {
  .main-cont{
    padding: 20px;
  }
  .login-items{
      padding: 7.5em  1.5em 4em 1.5em;
  }
  
}

